<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
     <div class="image-container">
        <img src="images/sea.png" alt="Weather">
        <div class="weather-info">
            <h1 class="temperature"><%= temp %>&deg;</h1>
            <div class="weather-details">
                <img src="<%= icon %>" alt="Weather Icon" class="weather-icon">
                <span class="description"><%= description %></span>
            </div>
        </div>
    </div>
<div class="footer">
        <div class="social-links">
            <a href="https://www.linkedin.com/in/parvathysajeev">LinkedIn</a>
            <a href="https://twitter.com/parvathy_421">Twitter</a>
            <a href="https://github.com/pikuparu">GitHub</a>
        </div>
        <div>
            <p class="author">©2024 Parvathy Sajeev.</p>
        </div>
    </div>
</body>
</html>